:root {
  background-color: #f8f8f8;
  background: linear-gradient(to right, rgba(255, 5, 5, 0.8), #ed0e0e 10%, #ed0e0e 30%, #363636 30%, #363636 32%, #fcfcfc 32%, #fcfcfc 74%, #363636 74%, #363636 76%, #ffec5e 76%, #ffec5e 84%, #363636 84%, #363636 86%, white 86%, rgba(0, 0, 255, 0.08) 150% );
  background-attachment: fixed;
  overflow: hidden;
}

#mondrian-container canvas {
  background-color: #f8f8f8;
  border: 3px solid #444;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
}

.wrapper {
  text-align: center;
  height: 100vh;
}

h1, footer {
  font-family: 'Poiret One', cursive;
}

h1 {
  font-size: 2.4em;
  text-shadow: -2px -2px 2px white;
}

p {
  max-width: 400px;
  margin: 1em auto;
  background: linear-gradient(to right, transparent, transparent 5%, white 15%, white 85%, transparent 95%,  transparent);
  font-family: 'Voltaire', sans-serif;
  font-size: 1.4em;
}

footer {
  max-width: 300px;
  margin: 1em auto;
  background-color: #fff;
  background: linear-gradient(to right, transparent, transparent 5%, white 10%, white 90%, transparent 95%,  transparent);
}

@media only screen
  and (max-device-width: 700px)
  and (orientation: landscape) {
    :root {
      position: relative;
    }
    #mondrian-container {
      position: absolute;
      left: 30%;
      top: 0;
    }

    h1 {
      font-size: 2em;
      position: absolute;
      left: 2%;
      top: 0;
    }

    p, footer {
      max-width: 30%;
      left: 0;
      background-color: white;
      border-top: 10px solid #333;
    }

    p {
      position: absolute;
      top: 30%;
      border-bottom: 10px solid #333;
      padding-top: 0.8em;
      padding-bottom: 1.2em;
    }

    footer {
      position: absolute;
      left: 0;
      bottom: -20%;
      padding-top: 0.5em;
      padding-bottom: 10%;
    }

    #above {
      display: none;
    }

    #mondrian-container canvas {
      border: none;
      border-left: 5px solid #333;
      box-shadow: none;
    }

}

@media only screen
  and (max-device-width: 850px)
  and (orientation: landscape) {
    #mondrian-container {
      left: 36%;
    }

    p, footer {
      width: 36%;
      max-width: 36%;
    }

    h1 {
      left: 4%;
    }
}

@media only screen
  and (max-device-width: 650px)
  and (orientation: portrait) {
    :root {
      position: relative;
    }

    body {
      margin-left: 0;
    }

    #mondrian-container canvas {
      position: absolute;
      margin-left: -5%;
      top: 18vh;
      left: 0;
      width: 110vw;
    }

    p {
      width: 100vw;
      max-width: 100%;
      background-color: white;
      border-top: 8px solid #333;
      border-bottom: 8px solid #333;
      border-radius: 2px;
      padding: 0.25em;
    }

    footer {
      font-size: 2em;
      background: white;
      padding: 0.3em;
      border-top: 8px solid #333;
      border-bottom: 8px solid #333;
      position: fixed;
      width: 100vw;
      max-width: 100%;
      bottom: 3em;
      left: 0;
    }

    #above {
      display: none;
    }
}
